.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  margin-top: 4px;
}

.user-header {
  padding: 15px 35px;
  border-bottom: 1px solid gainsboro;
}

.user-name {
  color: #2e76bf;
  font-size: 20px;
}

.user-msg {
  color: #080808 !important;
  font-size: 18px;
  font-weight: 500;
}

.action-div button {
  margin-left: 25px;
}

.action-div img {
  width: 35px;
  height: 35px;
  object-fit: contain;
}

img.sticker-img {
  width: 450px;
  height: auto;
  max-height: 450px;
  object-fit: cover;
}

img.bottom-sheet-sticker-img {
  width: 200px;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

/* bottom-sheet */
.bottom-sheet-stickers-container {
  overflow-y: auto;
  flex-wrap: wrap;
  height: 250px;
  overflow: auto;
  padding: 10px;
}

.bottom-sheet-sticker {
  flex: 0 0 calc(100% / 10);
  padding: 10px;
}

.chat-div {
  height: 100vh;
  overflow: hidden;
}
.scroll-div {
  height: calc(100vh - 127px - 71px);
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
}
.user-list {
  margin-bottom: 8px;
}

.message-div {
  display: flex;
  align-items: center;
  padding: 15px 35px;
  border-top: 1px solid gainsboro;
}
button.msg-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 15px;
}
.message-input {
  flex: 1;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: gray;
  padding-right: 10px;
  resize: none;
  overflow-y: hidden;
}
.edited-msg {
  margin-left: 62px;
}

.action-div,
.time-div {
  margin-left: auto;
  display: flex;
}
span.checkmark {
  height: 25px;
  width: 20px;
  margin-right: 4px;
}
span.checkmark img {
  width: auto;
  height: 20px;
  margin-right: 10px;
  margin-top: 3px;
}

.user-wrap {
  padding: 8px 35px;
}

.infinite-scroll {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (max-width: 992px) {
  .bottom-sheet-sticker {
    flex: 0 0 calc(100% / 5);
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  .bottom-sheet-sticker {
    flex: 0 0 calc(100% / 3);
    padding: 10px;
  }

  .user-header {
    padding: 15px 20px;
  }
  .avatar-img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-top: 4px;
  }
  .action-div button {
    margin-left: 15px;
  }
  .action-div img {
    width: 25px;
    height: 25px;
  }
  .flex.user-header h1 {
    font-size: 18px;
  }
  .flex.user-header p {
    font-size: 15px;
  }
  .date-div p {
    font-size: 16px;
  }
  .user-wrap {
    padding: 8px 20px;
  }
  .user-name {
    font-size: 18px;
  }
  .user-msg {
    font-size: 15px;
  }
  .edited-msg {
    margin-left: 50px;
  }
  .edited-p span {
    display: block;
    text-align: right;
  }
  .time-div p {
    white-space: nowrap;
  }
  .message-div {
    padding: 15px 20px;
  }
  button.msg-icon img {
    width: 30px;
    height: 30px;
  }
  .scroll-div {
    height: calc(100vh - 125px - 61px);
  }
}
